@model eNamjestaj.Web.Areas.ModulAdministrator.ViewModels.ZaposleniciUrediVM

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>


@*<script type="text/javascript" src="jquery.js"></script>
    <script type="text/javascript" src="jquery.validate.js"></script>
    <script type="text/javascript" src="jquery.metadata.js"></script>*@
<br />
<div class="container-fluid">
    <div class="col-lg-7">
        <form  id="formaUrediZap"  asp-action="Snimi" asp-controller="Zaposlenici" asp-area="ModulAdministrator" method="post">


            <div style="font-size:large;"><b>@Model.Ime @Model.Prezime</b></div>
            <input type="hidden" asp-for="ZaposlenikId" />

            <br />
            <div class="form-group">
                <label for="KorisnickoIme">Korisnicko ime:</label>
                <input class="form-control" asp-for="KorisnickoIme" placeholder="Korisnicko ime" >
                <span asp-validation-for="KorisnickoIme" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label>Uloga: </label>

                <div>
                    @Html.DropDownListFor(x => x.UlogaID, Model.Uloge, "Odaberite proizvod", new { @class = "form-control" })
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.UlogaID)</span>
                </div>
            </div>

            <div>
                <input type="submit" value="Snimi" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
    <script>
        //this code goes in your partial view
        $(function () {
            //allow the validation framework to re-prase the DOM
            jQuery.validator.unobtrusive.parse();

            //or to give the parser some context, supply it with a selector
            //jQuery validator will parse all child elements (deep) starting
            //from the selector element supplied
            jQuery.validator.unobtrusive.parse("#formaUrediZap");
        });
        $(document).ready(function () {
            $("form[ajax-poziv='da']").submit(function (event) {
                $('#formaUrediZap').validate();
                $(this).attr("ajax-poziv", "dodan");
                event.preventDefault();


                if (!$("#formaUrediZap").valid()) {
                    return false;
                }
                else {
                    var urlZaPoziv1 = $(this).attr("ajax-url");

                    var form = $(this);

                    $.ajax({
                        type: "POST",
                        url: urlZaPoziv1,
                        data: form.serialize(),
                        success: function (data) {
                            $("#divZaposlenici").html(data);

                        }
                    });
                }

            });
        });
    </script>

